@font-face {
  font-family: "CustomFont1";
  src: url("./assets/fonts/font1.ttf") format("truetype"); /* 파일 경로와 형식 */
  font-weight: normal;
  font-style: normal;
}
.firedtext-container {
  background-color: #9b0003; /* 붉은 배경 */
  color: white; /* 텍스트 색상 */
  height: 100vh; /* 화면 전체 높이 */
  display: flex;
  flex-direction: column; /* 위에서 아래로 배치 */
  justify-content: center; /* 텍스트를 수직 중앙에 배치 */
  align-items: center; /* 전체를 수평 중앙에 배치 */
  padding: 20px;
  box-sizing: border-box;
  font-family: "CustomFont1", Arial, sans-serif; /* 폰트 적용 */
}

.firedtext-content {
  display: block;
  max-width: 100%; /* 텍스트의 최대 너비 제한 */
  text-align: center; /* 텍스트를 왼쪽 정렬 */
  line-height: 5; /* 줄 간격 */
  font-size: 3rem; /* 텍스트 크기 */
  white-space: pre-wrap; /* 줄바꿈(\n)을 화면에 그대로 적용*/
  font-family: "CustomFont1", Arial, sans-serif; /* 폰트 적용 */
}
