.container {
  background-color: #460000; /* Figma 배경 색상 */
  font-family: "Inter", sans-serif;
  color: white;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column; /* 세로 방향으로 배치 */
  justify-content: center; /* 세로 가운데 정렬 */
  align-items: center; /* 가로 가운데 정렬 */
}
/* 로고 스타일 */
.container img:first-child {
  width: 500px; /* 로고 너비 */
  margin-bottom: 110px; /* 아래 여백 */
  opacity: 0.9;
}

.space-between {
  height: 150px; /* 원하는 높이의 여백 */
}

/* 버튼 이미지 공통 스타일 */
.button-image {
  width: 200px; /* 버튼 이미지 크기 */
  margin-bottom: 70px; /* 아래 여백 */
  opacity: 0.5;
  transition: opacity 0.4s ease; /* 호버 효과 */
}

.button-image:hover {
  opacity: 0.9; /* 호버 시 투명도 제거 */
}

/* 로그아웃 이미지 */
.logout-image {
  position: absolute; /* 절대 위치 설정 */
  bottom: 33px; /* 하단에서 33px 간격 */
  right: 10px; /* 오른쪽에서 10px 간격 */
  width: 50px; /* 로그아웃 이미지 크기 */
  opacity: 0.5; /* 약간의 투명도 */
  transition: opacity 0.3s ease; /* 호버 시 부드러운 효과 */
}
.logout-image:hover {
  opacity: 0.9; /* 호버 시 투명도 제거 */
}

/* 회원탈퇴 이미지 */
.delete-image {
  position: absolute; /* 절대 위치 설정 */
  bottom: 10px; /* 하단에서 10px 간격 */
  right: 10px; /* 오른쪽에서 10px 간격 */
  width: 50px; /* 회원탈퇴 이미지 크기 */
  opacity: 0.5; /* 약간의 투명도 */
  transition: opacity 0.3s ease; /* 호버 시 부드러운 효과 */
}
.delete-image:hover {
  opacity: 0.9; /* 호버 시 투명도 제거 */
}

.music-icon {
  position: absolute;
  top: 20px;
  right: 10px;
  width: 50px;
  font-size: 50px; /* 아이콘 크기 */
  color: white; /* 기본 색상 */
  cursor: pointer; /* 클릭 가능한 포인터 */
  opacity: 0.5;
  transition: opacity 0.4s ease; /* 색상 및 크기 변화 효과 */
}

.music-icon:hover {
  opacity: 0.9;
}

.main-noise-video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* 비율 유지하며 화면 꽉 채우기 */
  opacity: 0.3; /* 반투명 효과 */
  z-index: 2; /* 콘텐츠 위에 배치 */
  pointer-events: none;
}

.settings-icon {
  position: absolute;
  top: 40px; /* 우측 상단으로 이동 */
  right: 30px; /* 우측 정렬 */
  font-size: 36px; /* 사이즈 키우기 */
  color: white;
  cursor: pointer;
  opacity: 0.5;
  transition: transform 0.2s, opacity 0.4s ease; /* 색상 전환 효과 추가 */
}

.settings-icon:hover {
  transform: rotate(50deg); /* 돌아가는 이펙트 유지 */
  opacity: 0.9; /* 호버 시 색상 변경 (예: 노란색) */
}
