/* 전체 컨테이너 스타일 */
.record-container {
    background-color: #460000; /* 배경색 */
    color: white; /* 텍스트 색 */
    font-family: "Inter", sans-serif; /* 폰트 */
    height: 100vh; /* 화면 전체 높이 */
    padding: 20px; /* 내부 여백 */
    box-sizing: border-box; /* 테두리를 포함한 박스 크기 */
  }
  
/* 상단 화살표와 제목 */
.header {
    display: flex;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 32px;
  }
  
  .back-button {
    font-size: 4rem; /* 화살표 크기 */
    cursor: pointer;
    margin-right: 30px; /* 화살표와 제목 간격 */
  }

  .header-title {
    font-size: 3.5rem; /* "현상 기록" 글자 크기 */
    font-weight: bold; /* 글자 굵게 설정 */
    cursor: default; /* 클릭 불가 */
    user-select: none; /* 텍스트 선택 불가 */
  }
  
  /* 리스트 스타일 */
  .record-list {
    list-style: none; /* 기본 리스트 스타일 제거 */
    padding: 0.5;
    margin: 0;
  }
  
  /* 리스트 아이템 스타일 */
  .record-item {
    border-top: 5px solid white; /* 상단 경계선 */
    padding: 38px 90px; /* 아이템 간격 */
    opacity: 0.8;
    font-size: 3rem; /* 글자 크기 */
    margin: 0 60px; /* 양옆 여백 설정 */
    
  }

  /* 글씨만 호버 효과 */
.record-text {
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.4s ease; /* 글자색 변경 애니메이션 */
}
  
.record-text:hover {
    opacity: 0.9; /* 호버 시 투명도 제거 */
}
