.rule-container {
  background-color: #9B0003; /* 빨간 배경 */
  color: white; /* 흰색 글자 */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; /* 화살표 버튼 위치를 고정하기 위한 설정 */
}

.rule-content {
  text-align: center;
  line-height: 2;
  font-size: 1.2rem;
}

.next-button {
  position: absolute; /* 부모 컨테이너 기준 위치 고정 */
  bottom: 20px; /* 하단에서 20px 띄움 */
  right: 20px; /* 우측에서 20px 띄움 */
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.next-button:hover {
  color: #FFD700; /* 호버 시 화살표 색 변경 */
}
