/* 팝업 전체 배경 */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease-in-out;
}

/* 팝업 컨텐츠 */
.popup-content{
  background: rgba(0, 0, 0, 0.9);
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.1);
  animation: scaleIn 0.3s ease-in-out;
  position: relative;
  margin-bottom: 30px;
}

/* 닫기 버튼 */
.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: white;
  padding: 5px 10px 10px 10px;
  z-index: 1001;
  background: none;
  transition: transform 0.2s, color 0.3s;
}

.popup-close:hover {
  color: #ff5757;
  transform: scale(1.2);
}

/* 상호작용 가능한 텍스트 */
.popup-content .interactive-text {
  display: block;
  margin: 20px 0;
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s, text-decoration 0.3s;
}

.popup-content .interactive-text:hover {
  color: #ffcccc;
  text-decoration: underline;
}

/* 음악 컨트롤 버튼 */
.popup-content .music-button {
  display: inline-block;
  margin-top: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background: #333;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

.popup-content .music-button:hover {
  background: #444;
  transform: translateY(-3px);
}

/* 애니메이션 */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}
